{% extends "delta/base.html" %} {% load staticfiles %} {% block content %}
<!-- {% for s in song %}
        <h1>{{ s.title }}</h1>
        <p>By {{ s.artist }}</p>
        <p>Lyrics: {{ s.lyrics }}</p>
    {% endfor %} -->
<div class="container">
    <form method="POST" name="form1">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"><h4>Search Song (Title, Artist, or Both)</h4></label>
            <input class="form-control" id="name" placeholder="Search Song" type="text" name="search_input"><br>
            <button method="post" class="btn btn-primary" name="action" type="submit" value="button1">Search</button>
        </div>
    </form>
    <!-- {% if num_entries > 0 %}
            <form method="POST" name="form2">
                {% csrf_token %}
                <label for="artist">Enter Artist Name to Select a Song</label>
                <input class="form-control" id="artist" placeholder= "Artist" type="text" name="artist_input"><br>
                <button method="post" class="btn btn-primary" name="action" type="submit" value="button2">Search</button>
            </form>
        {% endif %} -->
    <div class="row">
        <div class="col">
            <p class="alert alert-info">Predicted Genres: {{genres}}</p>
        </div>
    </div>
    <div class="row">
        {% if num_hits > 0 %}
        <div class="col">
            <div class="media">
                <img class="mr-3 mt-3" width="150" height="150" src="{{ top_hit.result.song_art_image_thumbnail_url }}" />

                <div class="media-body">
                    <h4>{{ top_hit.result.title_with_featured }}</h4>
                    Artist: {{ top_hit.result.primary_artist.name }}
                </div>

            </div>
        </div>
        {% endif %}
        <div class="col">
            <label for="table"><h4>Other Songs Found</h4></label>
            <table class="table table-sm table-striped">
                <thread>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                    </tr>
                </thread>
                <tbody>
                    {% if num_hits > 1 %} {% for hit in other_hits %}
                    <tr>
                        <td>{{ hit.result.title_with_featured }}</td>
                        <td>{{ hit.result.primary_artist.name }}</td>
                    </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- {% if num_found == 1 %}
            {% for row in song_row_found %}
                <p class="text-md-center">{{row.lyrics}}</p>
            {% endfor %}
        {% endif %} -->
</div>
{% endblock content %}